body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

div {
  display: flex;
  align-items: center;
  justify-content: center
}

progress {
  display: none;
  width: 498px;
}

figure {
  display: none;
  align-items: center;
  justify-content: center
}

